@charset "utf-8";

.container {
	width: 70%;
}

.table {
	table-layout: fixed;
	display: table;
}

.table,
.row {
	width: 100%;
}

.row {
	display: table-row;
	margin-bottom: .25rem;
}

.row:first-child {
	margin-bottom: 1rem;
}

.cell {
	display: table-cell;
	border: 1px solid black;
	width: 20%;
	padding: 1rem 0;
	min-height: 1rem;
	text-align: center;
}

.pointer:hover {
	cursor: pointer;
}

.cell.clear {
	width: 12%;
}

.cell.display {
	width: 68%;
	text-align: right;
	padding-right: 2%;
}

.cell.blank {
	visibility: hidden;
}

#calcReturn {
	// width: 100%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.container {
		width: 75%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {


}